<div fxLayout="column" fxFlex="80" fxFlexOffset="10">

  <div class="content"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="50" class="product-image">
      <img src="{{dataProvider?.image}}">
    </div>

    <div fxFlex="50" fxFlex.xs="50">
      <div fxLayout="column" fxLayoutAlign="center center" class="product-detail">
        <span>{{dataProvider?.brand}}</span>
        <span>{{dataProvider?.title}}</span>
        <span>{{dataProvider?.price | currency}}</span>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="quantity">
        </mat-form-field>
        <div fxLayout="row">
          <button mat-stroked-button (click)="addToCart()">Add to Cart</button>
          <button mat-icon-button color="{{favColor}}" (click)="toggleFav()" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>


      </div>
    </div>
  </div>

  <div fxFlex=""></div>

</div>





