.content {
//  max-width: 60%;
//  margin-left: auto;
//  margin-right: auto;
  max-height: 450px;
  padding-top: 50px;
}
.product-image {
  width:100%;
  height: 100%;
  img {
    max-width: 350px;
    max-height: 300px;
  }
}
.product-detail {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
