
<h5>Double click on the text to edit</h5>
<table>
  <tr *ngFor="let entity of entities; index as index">
    <td>
      <label> Name: </label>
      <editable-control (update)="updateField(index, 'name')">
        <ng-template viewMode>{{entity.name}}</ng-template>
        <ng-template editMode>
          <input [formControl]="getControl(index, 'name')">
        </ng-template>
      </editable-control>
    </td>
    <td>
      <label> Administrator: </label>
      <editable-control (update)="updateField(index, 'isAdmin')">
        <ng-template viewMode>{{entity.isAdmin}}</ng-template>
        <ng-template editMode>
          <input type="checkbox" [formControl]="getControl(index, 'isAdmin')">{{entity.isAdmin}}
        </ng-template>
      </editable-control>
    </td>
  </tr>
</table>

