
<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a href="http://www.google.com">
      <div>
        <img src="../../../../assets/images/logo.png" alt="Hero"/>
      </div>
    </a>
  </div>
  <div fxFlex fxLayout="row">
    <div fxFlex fxHide.xs>
      <ul fxFlex fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="30px" class="navigation-items">
        <li>
          <a routerLink="/home/catalogue">Catalogue</a>
        </li>
<!--        <li>-->
<!--          <a routerLink="/feedback">Feedback</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a routerLink="/catalogue">Catalogue</a>-->
<!--        </li>-->
      </ul>

      <ul fxLayoutAlign="end center" class="navigation-items">
        <li>
          <button mat-icon-button>
            <mat-icon aria-label="Cart" (click)="goToCart()">shopping_cart</mat-icon>
            {{cartCount | cartItemsCount}}
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="Account">account_circle</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
<!--
  <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div> -->
</mat-toolbar>
