a {
  text-decoration: none;
  color: black;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;

}

mat-toolbar{
  border-radius: 3px;
  background: white;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
