<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <button mat-icon-button [disableRipple]=true (click)="navClick($event,link);isScreenSmall === true ? drawer.toggle():null">
          {{ link.label}}
          <mat-icon>{{link.icon}}</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
    <main>
      <router-outlet></router-outlet>
      <mat-sidenav-container>
        <mat-sidenav opened mode="over" position="end">End content</mat-sidenav>
      </mat-sidenav-container>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>


