<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <section class="banner" [ngStyle]="{'background-image': 'url(' + '/assets/images/plates-header.jpg' + ')'}">
  </section>

  <div class="grid-container">
    <mat-grid-list [cols]="noOfColumns" rowHeight="300px" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let product of dataProvider; let i = index;" [colspan]=1>
        <app-product-card [product]="product" (productClick)="actionClicked($event)"></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
