.banner {
  color: #FFFFFF;

  /*@include media-query(md) {

    margin-left: auto;
    margin-right: auto;
    h1 {
      @include font-size(4.0);
      @include line-height(5);
    }
    h2.section_title {
      @include font-size(2.2);
      font-family: $font-family;
    }
  }*/
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  height: auto;
  //padding: $padding-md + $padding-xs;
  min-height: 315px;
  text-align: center;
  background-color: #999;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 990px;
}


