<div style="display: flex;justify-content: center;align-items: center;height: 100%">
  <mat-card>
    <mat-card-title>
      <mat-card-content>
        <p>
          USERNAME etc.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="login()">LOGIN</button>
      </mat-card-actions>
    </mat-card-title>
  </mat-card>

</div>
