<!--<div class="grid-container">-->
  <mat-card class="product-card" (click)="clickHandler($event)">
    <img mat-card-image src="{{product.image}}" alt="{{product.title}}">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center" class="product-card-summary" >
        <span>{{product.brand}}</span>
        <span>{{product.title}}</span>
        <span>{{product.price | currency}}</span>
      </div>
    </mat-card-content>
  </mat-card>
<!--</div>-->
