.grid-container {
  margin: 60px;
  width: 100%;
}

.product-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-height: 300px;
  max-width: 350px;
}
.mat-card-image {
  max-height: 180px;
}
.product-card-summary {
  span {
    padding-bottom: 2px;
  }
  max-height: 50px;

}
